# **Data Preparation and Cleaning: From Raw Crime Data to Analytical Insights**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
crimes_df = pd.read_csv('/content/drive/MyDrive/Final Project/Crime_Data.csv')

In [ ]:
crimes_df.head(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350
5,240412063,12/11/2024 12:00:00 AM,11/11/2020 12:00:00 AM,1210,4,Hollenbeck,429,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,5300 CRONUS ST,NaN,34.0830,-118.1678
6,240317069,12/16/2024 12:00:00 AM,04/16/2020 12:00:00 AM,1350,3,Southwest,396,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,900 W 40TH PL,NaN,34.0100,-118.2900
7,201115217,10/29/2020 12:00:00 AM,07/07/2020 12:00:00 AM,1400,11,Northeast,1133,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,...,AO,Adult Other,812.0,860.0,NaN,NaN,3000 ACRESITE ST,NaN,34.1107,-118.2589
8,241708596,04/20/2024 12:00:00 AM,03/02/2020 12:00:00 AM,1200,17,Devonshire,1729,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,17700 SIMONDS ST,NaN,34.2763,-118.5210
9,242113813,12/18/2024 12:00:00 AM,09/01/2020 12:00:00 AM,900,21,Topanga,2196,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,20900 MARMORA ST,NaN,34.1493,-118.5886

### Data Shape

In [ ]:
print(f'This Dataframe has {crimes_df.shape[0]} rows over {crimes_df.shape[1]} columns')

This Dataframe has 1004991 rows over 28 columns


### Variables:
* DR_NO - Division of Records Number – unique ID for each crime report
* Date Rptd - Date the crime was reported to the police
*	DATE OCC - Date the crime occurred
*	TIME OCC - Time the crime occurred
*	AREA - LAPD area code (numeric)
*	AREA NAME - Name of the LAPD area (e.g., Hollywood, Van Nuys)
*	Rpt Dist No - Reporting district number within the LAPD area
*	LOCATION - Street address (approximate, often block-level)
*	Cross Street - Nearest cross street (if available)
*	LAT - Latitude of the crime location
*	LON - Longitude of the crime location
*	Part 1-2 - Crime severity classification:  
    -	1 = Serious (violent / major property)  
    -	2 = Less serious
*	Crm Cd - Primary crime code
*	Crm Cd Desc - Text description of the primary crime
*	Crm Cd 1 - Same as primary crime code (often duplicated)
*	Crm Cd 2 - Secondary crime code (if multiple crimes occurred)
*	Crm Cd 3 - Third crime code (if applicable)
*	Crm Cd 4 - Fourth crime code (if applicable)
*	Vict Age - Victim’s age
*	Vict Sex - Victim’s sex
*	Vict Descent - Victim’s descent code
*	Premis Cd - Code for the type of location (e.g., street, apartment)
*	Premis Desc - Description of the premises
*	Mocodes - Modus Operandi codes – how the crime was committed (comma-separated)
*	Weapon Used Cd - Code for weapon used (if any)
*	Weapon Desc - Description of the weapon
*	Status - Short status code (e.g., IC, AO)
*	Status Desc - Full description of case status (e.g., Investigation Continued, Adult Other)

### Datatypes:

In [ ]:
crimes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   Date Rptd       1004991 non-null  object
 2   DATE OCC        1004991 non-null  object
 3   TIME OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA NAME       1004991 non-null  object
 6   Rpt Dist No     1004991 non-null  int64
 7   Part 1-2        1004991 non-null  int64
 8   Crm Cd          1004991 non-null  int64
 9   Crm Cd Desc     1004991 non-null  object
 10  Mocodes         853372 non-null   object
 11  Vict Age        1004991 non-null  int64
 12  Vict Sex        860347 non-null   object
 13  Vict Descent    860335 non-null   object
 14  Premis Cd       1004975 non-null  float64
 15  Premis Desc     1004403 non-null  object
 16  Weapon Used Cd  327247 non-null   float64
 17  Weapon Desc     327247 non-null   object
 18  Status          1004990 non-null  object
 19  Status Desc     1004991 non-null  object
 20  Crm Cd 1        1004980 non-null  float64
 21  Crm Cd 2        69160 non-null    float64
 22  Crm Cd 3        2314 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  Cross Street    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

### Column Standardization:
Ensure consistent, analysis-friendly column names.

In [ ]:
crimes_df.columns = (crimes_df.columns.str.strip().str.lower().str.replace(' ', '_'))

In [ ]:
crimes_df.columns

Index(['dr_no', 'date_rptd', 'date_occ', 'time_occ', 'area', 'area_name',
       'rpt_dist_no', 'part_1-2', 'crm_cd', 'crm_cd_desc', 'mocodes',
       'vict_age', 'vict_sex', 'vict_descent', 'premis_cd', 'premis_desc',
       'weapon_used_cd', 'weapon_desc', 'status', 'status_desc', 'crm_cd_1',
       'crm_cd_2', 'crm_cd_3', 'crm_cd_4', 'location', 'cross_street', 'lat',
       'lon'],
      dtype='object')

### Transforming the date columns and the time column into a valid datetime objects

In [ ]:
crimes_df['time_occ'] = (crimes_df['time_occ'].astype(str).str.strip().str.replace('.0', '', regex=False).str.zfill(4))

In [ ]:
crimes_df['time_occ'] = pd.to_datetime(crimes_df['time_occ'],format='%H%M',errors='coerce').dt.time

In [ ]:
crimes_df['date_rptd'] = pd.to_datetime(crimes_df['date_rptd'],errors='coerce')

crimes_df['date_occ'] = pd.to_datetime(crimes_df['date_occ'],errors='coerce')

/tmp/ipython-input-815432941.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crimes_df['date_rptd'] = pd.to_datetime(crimes_df['date_rptd'],errors='coerce')
/tmp/ipython-input-815432941.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crimes_df['date_occ'] = pd.to_datetime(crimes_df['date_occ'],errors='coerce')

### Checking for duplicates:
There are no duplicates in the data

In [ ]:
crimes_df.duplicated().sum()

np.int64(0)

In [ ]:
crimes_df['dr_no'].duplicated().sum()

np.int64(0)

The ID for each crime report is indeed unique

### Checking for missing latitude and longitude
Only 0.22% of crime records were missing latitude and longitude values. These records were retained to preserve dataset completeness but were excluded from point-based spatial visualizations. As a result, map analyses reflect 99.78% of reported crimes and are not meaningfully impacted by missing geographic coordinates. To ensure transparency and reproducibility, a flag column (has_coordinates) was created to explicitly identify records suitable for mapping.

In [ ]:
percentage = (((crimes_df['lat'] == 0) & (crimes_df['lon'] == 0)).sum()/ len(crimes_df)) * 100

print(f"{percentage:.2f}% of records have missing latitude and longitude")

0.22% of records have missing latitude and longitude

In [ ]:
crimes_df['has_coordinates'] = crimes_df['lat'].notna() & crimes_df['lon'].notna()

### Cleanup:

Null Values

In [ ]:
(crimes_df.isnull().sum() * 100 / len(crimes_df)).round(2)

dr_no               0.00
date_rptd           0.00
date_occ            0.00
time_occ            0.00
area                0.00
area_name           0.00
rpt_dist_no         0.00
part_1-2            0.00
crm_cd              0.00
crm_cd_desc         0.00
mocodes            15.09
vict_age            0.00
vict_sex           14.39
vict_descent       14.39
premis_cd           0.00
premis_desc         0.06
weapon_used_cd     67.44
weapon_desc        67.44
status              0.00
status_desc         0.00
crm_cd_1            0.00
crm_cd_2           93.12
crm_cd_3           99.77
crm_cd_4           99.99
location            0.00
cross_street       84.65
lat                 0.00
lon                 0.00
has_coordinates     0.00
dtype: float64

### Renaming variable name & Dropping Irrelevant columns

In [ ]:
crimes_df = crimes_df.rename(columns={'part_1-2': 'crime_severity'})

In [ ]:
crimes_df = crimes_df.drop(columns=['mocodes', 'cross_street'])

### Checking for complete years
Records from 2025 were excluded because the year is not yet complete.
2024 appears to be an incomplete year because monthly crime counts drop sharply after the early months and fall far below the consistent range observed in full years (2020–2023). This pattern indicates missing or partial data coverage rather than an actual decline in crime.

In [ ]:
print(crimes_df['date_occ'].dt.year.unique())

[2020 2021 2022 2024 2023 2025]

In [ ]:
crimes_df['date_occ'].dt.year.value_counts()

date_occ
2022    235259
2023    232345
2021    209876
2020    199847
2024    127567
2025        97
Name: count, dtype: int64

In [ ]:
crimes_df = crimes_df[crimes_df['date_occ'].dt.year < 2024]

In [ ]:
print(crimes_df['date_rptd'].dt.year.unique())

[2021 2020 2024 2022 2023 2025]

### Cleaning Victim Sex Variable
Invalid or non-binary codes in the victim sex field were replaced with missing values, retaining only standardized categories ('M' and 'F') to ensure consistency and reliability in downstream analysis.

In [ ]:
crimes_df['vict_sex'].unique()

array(['M', 'F', nan, 'X', 'H', '-'], dtype=object)

In [ ]:
crimes_df['vict_sex'] = crimes_df['vict_sex'].where(
    crimes_df['vict_sex'].isin(['M', 'F']),np.nan)

### Cleaning and Grouping Victim Descent Variable
Victim descent codes were standardized and mapped to descriptive categories. These categories were then consolidated into broader demographic groups to improve interpretability, reduce sparsity, and support more meaningful aggregate analysis.

In [ ]:
crimes_df['vict_descent'].unique()

array(['H', 'W', 'A', 'B', nan, 'X', 'O', 'C', 'J', 'V', 'K', 'F', 'I',
       'Z', 'L', 'G', 'P', 'D', 'U', 'S', '-'], dtype=object)

In [ ]:
vict_descent_map = {
    'H': 'Hispanic / Latin / Mexican',
    'W': 'White',
    'B': 'Black',
    'A': 'Other Asian',
    'C': 'Chinese',
    'F': 'Filipino',
    'J': 'Japanese',
    'K': 'Korean',
    'V': 'Vietnamese',
    'I': 'American Indian / Alaska Native',
    'P': 'Pacific Islander',
    'G': 'Guamanian',
    'S': 'Samoan',
    'U': 'Hawaiian',
    'D': 'Cambodian',
    'L': 'Laotian',
    'Z': 'Asian Indian',
    'O': 'Other'
}

In [ ]:
crimes_df['vict_descent'] = (crimes_df['vict_descent'].str.upper().map(vict_descent_map))

In [ ]:
vict_descent_group_map = {
    'Hispanic / Latin / Mexican': 'Hispanic',
    'White': 'White',
    'Black': 'Black',
    'Chinese': 'Asian',
    'Japanese': 'Asian',
    'Korean': 'Asian',
    'Vietnamese': 'Asian',
    'Filipino': 'Asian',
    'Asian Indian': 'Asian',
    'Other Asian': 'Asian',
    'Cambodian': 'Asian',
    'Laotian': 'Asian',
    'Pacific Islander': 'Other',
    'Guamanian': 'Other',
    'Samoan': 'Other',
    'Hawaiian': 'Other',
    'American Indian / Alaska Native': 'Other',
    'Other': 'Other'
}

In [ ]:
crimes_df['vict_descent_group'] = (crimes_df['vict_descent'].map(vict_descent_group_map))

In [ ]:
crimes_df['vict_descent_group'].value_counts()

vict_descent_group
Hispanic    267794
White       178471
Black       124096
Other        70824
Asian        34024
Name: count, dtype: int64

## area variable:

The AREA variable represents the LAPD patrol area in which a crime occurred.
To ensure geographic consistency and support reliable aggregation, the relationship between the numeric AREA code and the corresponding AREA NAME was examined.

The analysis confirmed that the dataset contains 21 distinct AREA codes and 21 distinct AREA names, and that each AREA code maps uniquely to a single AREA NAME. No inconsistencies or many-to-one relationships were observed.

This one-to-one mapping validates the AREA variable as a stable geographic dimension and allows it to be safely used for grouping, filtering, and joining with external datasets (e.g., demographic or income data) without risk of ambiguity.

In [ ]:
print(crimes_df['area'].unique())
print(crimes_df['area'].nunique())

[15  9  7 14  4  3 11 17 21  6 20 18 13 16 19  2  1  8 12 10  5]
21

In [ ]:
print(crimes_df['area_name'].unique())
print(crimes_df['area_name'].nunique())

['N Hollywood' 'Van Nuys' 'Wilshire' 'Pacific' 'Hollenbeck' 'Southwest'
 'Northeast' 'Devonshire' 'Topanga' 'Hollywood' 'Olympic' 'Southeast'
 'Newton' 'Foothill' 'Mission' 'Rampart' 'Central' 'West LA' '77th Street'
 'West Valley' 'Harbor']
21

In [ ]:
crimes_df[['area', 'area_name']].drop_duplicates().sort_values('area')

     area    area_name
107     1      Central
55      2      Rampart
6       3    Southwest
5       4   Hollenbeck
693     5       Harbor
10      6    Hollywood
3       7     Wilshire
177     8      West LA
2       9     Van Nuys
582    10  West Valley
7      11    Northeast
449    12  77th Street
20     13       Newton
4      14      Pacific
0      15  N Hollywood
24     16     Foothill
8      17   Devonshire
16     18    Southeast
27     19      Mission
11     20      Olympic
9      21      Topanga

### Identifying Multi-Offense Crimes
A binary indicator was created to identify incidents involving multiple offense codes. After deriving this feature, redundant crime code columns were removed to simplify the dataset. The proportion of crimes involving multiple offenses was then calculated to quantify the prevalence of multi-offense incidents.

In [ ]:
crimes_df['has_multiple_offenses'] = crimes_df[['crm_cd_2', 'crm_cd_3', 'crm_cd_4']].notna().any(axis=1)

In [ ]:
crimes_df = crimes_df.drop(columns=['crm_cd_1', 'crm_cd_2', 'crm_cd_3', 'crm_cd_4'])

In [ ]:
total_crimes = len(crimes_df)
multi_offense_crimes = crimes_df['has_multiple_offenses'].sum()

percent_multi_offense = (multi_offense_crimes / total_crimes) * 100

print(f"Percentage of crimes with multiple offenses: {percent_multi_offense:.2f}%")

Percentage of crimes with multiple offenses: 7.30%

### Weapon Description Variable

The weapon_desc variable describes the type of weapon involved in a crime, when reported. Since a large proportion of records contained missing weapon information, missing weapon_used_cd values were assigned a placeholder code (500) and the corresponding weapon_desc was labeled as "UNKNOWN WEAPON / OTHER WEAPON". This approach preserves all records, avoids null-related issues in analysis, and clearly distinguishes between known and unreported weapon involvement.

In [ ]:
crimes_df['weapon_used_cd'].unique()

array([ nan, 200., 500., 400., 114., 102., 106., 511., 109., 308., 207.,
       201., 512., 204., 312., 306., 103., 506., 101., 307., 212., 208.,
       113., 303., 223., 205., 302., 107., 304., 311., 513., 210., 301.,
       219., 104., 310., 515., 215., 503., 510., 218., 202., 221., 112.,
       305., 211., 309., 501., 216., 509., 514., 217., 206., 220., 110.,
       502., 122., 213., 516., 105., 300., 115., 505., 507., 125., 108.,
       121., 504., 214., 203., 508., 209., 111., 118., 120., 116., 123.,
       119., 117., 124.])

In [ ]:
crimes_df['weapon_desc'].unique()

array([nan, 'KNIFE WITH BLADE 6INCHES OR LESS',
       'UNKNOWN WEAPON/OTHER WEAPON',
       'STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)',
       'AIR PISTOL/REVOLVER/RIFLE/BB GUN', 'HAND GUN', 'UNKNOWN FIREARM',
       'VERBAL THREAT', 'SEMI-AUTOMATIC PISTOL', 'STICK', 'OTHER KNIFE',
       'KNIFE WITH BLADE OVER 6 INCHES IN LENGTH', 'MACE/PEPPER SPRAY',
       'FOLDING KNIFE', 'PIPE/METAL PIPE', 'ROCK/THROWN OBJECT', 'RIFLE',
       'FIRE', 'REVOLVER', 'VEHICLE', 'BOTTLE', 'RAZOR', 'SIMULATED GUN',
       'BRASS KNUCKLES', 'UNKNOWN TYPE CUTTING INSTRUMENT',
       'KITCHEN KNIFE', 'BLUNT INSTRUMENT', 'OTHER FIREARM', 'CLUB/BAT',
       'HAMMER', 'STUN GUN', 'RAZOR BLADE',
       'BELT FLAILING INSTRUMENT/CHAIN', 'SCREWDRIVER', 'SHOTGUN',
       'CONCRETE BLOCK/BRICK', 'PHYSICAL PRESENCE', 'MACHETE',
       'CAUSTIC CHEMICAL/POISON', 'SCALDING LIQUID',
       'OTHER CUTTING INSTRUMENT', 'BOWIE KNIFE', 'GLASS', 'TOY GUN',
       'FIXED OBJECT', 'AXE', 'BOARD', 'BOMB THREAT', 'SCISSORS',
       'ROPE/LIGATURE', 'TIRE IRON', 'SWORD', 'SWITCH BLADE', 'SYRINGE',
       'SEMI-AUTOMATIC RIFLE', 'BOW AND ARROW',
       'HECKLER & KOCH 93 SEMIAUTOMATIC ASSAULT RIFLE', 'CLEAVER',
       'DOG/ANIMAL (SIC ANIMAL ON)', 'SAWED OFF RIFLE/SHOTGUN',
       'BLACKJACK', 'ASSAULT WEAPON/UZI/AK47/ETC', 'EXPLOXIVE DEVICE',
       'LIQUOR/DRUGS', 'RELIC FIREARM',
       'AUTOMATIC WEAPON/SUB-MACHINE GUN',
       'HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE', 'DEMAND NOTE',
       'ICE PICK', 'DIRK/DAGGER', 'MARTIAL ARTS WEAPONS',
       'STRAIGHT RAZOR', 'STARTER PISTOL/REVOLVER',
       'UZI SEMIAUTOMATIC ASSAULT RIFLE',
       'MAC-11 SEMIAUTOMATIC ASSAULT WEAPON', 'ANTIQUE FIREARM',
       'M1-1 SEMIAUTOMATIC ASSAULT RIFLE',
       'MAC-10 SEMIAUTOMATIC ASSAULT WEAPON',
       'UNK TYPE SEMIAUTOMATIC ASSAULT RIFLE',
       'M-14 SEMIAUTOMATIC ASSAULT RIFLE'], dtype=object)

In [ ]:
crimes_df[['weapon_used_cd', 'weapon_desc']]

        weapon_used_cd                                     weapon_desc
0                  NaN                                             NaN
1                200.0                KNIFE WITH BLADE 6INCHES OR LESS
2                  NaN                                             NaN
3                  NaN                                             NaN
4                  NaN                                             NaN
...                ...                                             ...
878354           400.0  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
878355             NaN                                             NaN
878356             NaN                                             NaN
878357             NaN                                             NaN
878358             NaN                                             NaN

[877327 rows x 2 columns]

In [ ]:
crimes_df['weapon_used_cd'].fillna(500, inplace=True)

/tmp/ipython-input-1656729217.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crimes_df['weapon_used_cd'].fillna(500, inplace=True)

In [ ]:
crimes_df.loc[crimes_df['weapon_used_cd'] == 500, 'weapon_desc'] = 'UNKNOWN WEAPON / OTHER WEAPON'

In [ ]:
weapon_category_map = {

    # Firearms
    'AIR PISTOL/REVOLVER/RIFLE/BB GUN': 'Firearm',
    'HAND GUN': 'Firearm',
    'UNKNOWN FIREARM': 'Firearm',
    'SEMI-AUTOMATIC PISTOL': 'Firearm',
    'REVOLVER': 'Firearm',
    'RIFLE': 'Firearm',
    'SHOTGUN': 'Firearm',
    'MARTIAL ARTS WEAPONS': 'Firearm',
    'SEMI-AUTOMATIC RIFLE': 'Firearm',
    'AUTOMATIC WEAPON/SUB-MACHINE GUN': 'Firearm',
    'OTHER FIREARM': 'Firearm',
    'STUN GUN': 'Firearm',
    'RELIC FIREARM': 'Firearm',
    'ANTIQUE FIREARM': 'Firearm',
    'TOY GUN': 'Firearm',
    'SIMULATED GUN': 'Firearm',
    'HECKLER & KOCH 93 SEMIAUTOMATIC ASSAULT RIFLE': 'Firearm',
    'SAWED OFF RIFLE/SHOTGUN': 'Firearm',
    'ASSAULT WEAPON/UZI/AK47/ETC': 'Firearm',
    'STARTER PISTOL/REVOLVER': 'Firearm',
    'UZI SEMIAUTOMATIC ASSAULT RIFLE': 'Firearm',
    'MAC-11 SEMIAUTOMATIC ASSAULT WEAPON': 'Firearm',
    'ANTIQUE FIREARM': 'Firearm',
    'M1-1 SEMIAUTOMATIC ASSAULT RIFLE': 'Firearm',
    'MAC-10 SEMIAUTOMATIC ASSAULT WEAPON': 'Firearm',
    'UNK TYPE SEMIAUTOMATIC ASSAULT RIFLE': 'Firearm',
    'M-14 SEMIAUTOMATIC ASSAULT RIFLE': 'Firearm',
    'HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE': 'Firearm',

    # Knives / Cutting
    'KNIFE WITH BLADE 6INCHES OR LESS': 'Knife / Cutting',
    'KNIFE WITH BLADE OVER 6 INCHES IN LENGTH': 'Knife / Cutting',
    'UNKNOWN TYPE CUTTING INSTRUMENT':  'Knife / Cutting',
    'SCREWDRIVER' : 'Knife / Cutting',
    'KITCHEN KNIFE': 'Knife / Cutting',
    'FOLDING KNIFE': 'Knife / Cutting',
    'BOWIE KNIFE': 'Knife / Cutting',
    'SWITCH BLADE': 'Knife / Cutting',
    'MACHETE': 'Knife / Cutting',
    'OTHER CUTTING INSTRUMENT': 'Knife / Cutting',
    'OTHER KNIFE': 'Knife / Cutting',
    'DIRK/DAGGER': 'Knife / Cutting',
    'RAZOR': 'Knife / Cutting',
    'RAZOR BLADE': 'Knife / Cutting',
    'STRAIGHT RAZOR': 'Knife / Cutting',
    'SCISSORS': 'Knife / Cutting',
    'GLASS': 'Knife / Cutting',
    'AXE': 'Knife / Cutting',
    'SWORD':'Knife / Cutting',
    'SYRINGE': 'Knife / Cutting',
    'BOW AND ARROW': 'Knife / Cutting',
    'CLEAVER': 'Knife / Cutting',
     'ICE PICK': 'Knife / Cutting',

    # Blunt objects
    'STICK': 'Blunt Object',
    'CLUB/BAT': 'Blunt Object',
    'PIPE/METAL PIPE': 'Blunt Object',
    'BLUNT INSTRUMENT': 'Blunt Object',
    'ROCK/THROWN OBJECT': 'Blunt Object',
    'BOARD': 'Blunt Object',
    'HAMMER': 'Blunt Object',
    'TIRE IRON': 'Blunt Object',
    'BOTTLE': 'Blunt Object',
    'BELT FLAILING INSTRUMENT/CHAIN': 'Blunt Object',
    'CONCRETE BLOCK/BRICK': 'Blunt Object',
    'FIXED OBJECT': 'Blunt Object',
    'ROPE/LIGATURE': 'Blunt Object',
    'BLACKJACK': 'Blunt Object',

    # Physical force
    'BRASS KNUCKLES': 'Physical Force',
    'STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)': 'Physical Force',
    'PHYSICAL PRESENCE': 'Physical Force',

    # Threats
    'VERBAL THREAT': 'Threat / Intimidation',
    'BOMB THREAT': 'Threat / Intimidation',
    'DEMAND NOTE': 'Threat / Intimidation',

    # Chemical / Fire
    'FIRE': 'Chemical / Fire',
    'SCALDING LIQUID': 'Chemical / Fire',
    'CAUSTIC CHEMICAL/POISON': 'Chemical / Fire',
    'MACE/PEPPER SPRAY': 'Chemical / Fire',
    'EXPLOXIVE DEVICE': 'Chemical / Fire',
    'LIQUOR/DRUGS': 'Chemical / Fire',

    # Other
    'VEHICLE': 'Vehicle',
    'DOG/ANIMAL (SIC ANIMAL ON)': 'Animal',

    # Unknown
    'UNKNOWN WEAPON / OTHER WEAPON': 'Unknown / Other'
}

In [ ]:
crimes_df['weapon_type_category'] = (crimes_df['weapon_desc'].map(weapon_category_map))

In [ ]:
crimes_df['weapon_type_category'].value_counts()

weapon_type_category
Unknown / Other          606485
Physical Force           163857
Firearm                   38127
Knife / Cutting           22793
Threat / Intimidation     22444
Blunt Object              15924
Chemical / Fire            4626
Vehicle                    3023
Animal                       48
Name: count, dtype: int64

### status description variable:

Eight records (<0.001% of the dataset) contained unknown or missing case status descriptions. These records were removed due to negligible analytical impact and to maintain a fully consistent status dimension.

In [ ]:
crimes_df['status'].unique()

array(['IC', 'AO', 'AA', 'JA', 'JO', 'CC'], dtype=object)

In [ ]:
crimes_df['status_desc'].value_counts()

status_desc
Invest Cont     690620
Adult Other     102363
Adult Arrest     79725
Juv Arrest        2971
Juv Other         1643
UNK                  5
Name: count, dtype: int64

In [ ]:
crimes_df = crimes_df[~(crimes_df['status_desc'].isin(['UNK']) | crimes_df['status_desc'].isna())]

### vict_age variable:

In [ ]:
crimes_df['vict_age'].unique()

array([ 31,  32,  30,  47,  63,  35,  21,  14,  43,  57,  13,  34,   0,
        39,  26,  37,  69,  24,  36,  19,  48,  49,  22,  58,  46,  33,
        23,  28,  18,  51,  11,  61,  74,  53,  68,  50,  62,  41,  27,
        17,  60,  52,  29,  40,  59,  25,  80,  44,  42,  65,  70,  66,
        45,  56,  54,  20,   7,  79,  67,   9,  55,  83,  38,  99,  72,
        71,  96,  16,   8,  77,  81,  73,  64,   4,  91,  12,  76,  75,
        15,  82,   3,  89,  10,   6,  86,  90,  78,  85,  84,  87,   2,
        -4,  -3,   5,  88,  95,  -2,  92,  93,  97,  94,  -1,  98, 120])

In [ ]:
print(crimes_df['vict_age'].max())
print(crimes_df['vict_age'].min())

120
-4

In [ ]:
crimes_df['vict_age'] = crimes_df['vict_age']

crimes_df.loc[
    (crimes_df['vict_age'] <= 0) |
    (crimes_df['vict_age'] > 100),
    'vict_age'] = np.nan

### crm_cd_desc variable:

In [ ]:
crimes_df['crm_cd_desc'].unique()

array(['THEFT OF IDENTITY',
       'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
       'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)',
       'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
       'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)',
       'VEHICLE - STOLEN', 'BURGLARY', 'BURGLARY FROM VEHICLE',
       'THEFT PLAIN - PETTY ($950 & UNDER)',
       'INTIMATE PARTNER - SIMPLE ASSAULT', 'BATTERY - SIMPLE ASSAULT',
       'VANDALISM - MISDEAMEANOR ($399 OR UNDER)',
       'VEHICLE - ATTEMPT STOLEN',
       'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
       'ROBBERY', 'FIREARMS RESTRAINING ORDER (FIREARMS RO)',
       'BIKE - STOLEN', 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
       'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
       'CRIMINAL THREATS - NO WEAPON DISPLAYED',
       'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
       'BATTERY WITH SEXUAL CONTACT',
       'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD',
       'VIOLATION OF COURT ORDER', 'ARSON',
       'VIOLATION OF RESTRAINING ORDER', 'THEFT, PERSON',
       'CONTEMPT OF COURT', 'INTIMATE PARTNER - AGGRAVATED ASSAULT',
       'ATTEMPTED ROBBERY', 'LEWD/LASCIVIOUS ACTS WITH CHILD',
       'OTHER MISCELLANEOUS CRIME', 'BRANDISH WEAPON', 'TRESPASSING',
       'BUNCO, ATTEMPT', 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
       'BURGLARY, ATTEMPTED', 'DOCUMENT FORGERY / STOLEN FELONY',
       'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)', 'FAILURE TO YIELD',
       'BATTERY POLICE (SIMPLE)',
       'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)',
       'CHILD NEGLECT (SEE 300 W.I.C.)', 'RAPE, ATTEMPTED',
       'BUNCO, GRAND THEFT', 'CONTRIBUTING', 'PIMPING', 'OTHER ASSAULT',
       'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
       'RAPE, FORCIBLE', 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE',
       'DISCHARGE FIREARMS/SHOTS FIRED', 'EXTORTION',
       'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
       'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
       'BUNCO, PETTY THEFT', 'RESISTING ARREST',
       'VIOLATION OF TEMPORARY RESTRAINING ORDER',
       'CHILD ANNOYING (17YRS & UNDER)',
       'SHOTS FIRED AT INHABITED DWELLING',
       'BURGLARY FROM VEHICLE, ATTEMPTED',
       'THROWING OBJECT AT MOVING VEHICLE',
       'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
       'ORAL COPULATION', 'SEXUAL PENETRATION W/FOREIGN OBJECT',
       'LEWD CONDUCT', 'PICKPOCKET', 'CHILD STEALING', 'PURSE SNATCHING',
       'THEFT FROM MOTOR VEHICLE - ATTEMPT',
       'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS', 'INDECENT EXPOSURE',
       'DISHONEST EMPLOYEE - PETTY THEFT',
       'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)', 'KIDNAPPING',
       'DISTURBING THE PEACE', 'UNAUTHORIZED COMPUTER ACCESS',
       'CRIMINAL HOMICIDE', 'THEFT PLAIN - ATTEMPT',
       'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)',
       'LYNCHING', 'RECKLESS DRIVING', 'THREATENING PHONE CALLS/LETTERS',
       'SHOPLIFTING - ATTEMPT', 'BOMB SCARE',
       'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT', 'STALKING',
       'DRIVING WITHOUT OWNER CONSENT (DWOC)', 'BATTERY ON A FIREFIGHTER',
       'PEEPING TOM', 'FALSE POLICE REPORT', 'BOAT - STOLEN',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
       'ILLEGAL DUMPING', 'DRUGS, TO A MINOR',
       'THEFT, COIN MACHINE - PETTY ($950 & UNDER)',
       'CREDIT CARDS, FRAUD USE ($950 & UNDER', 'MANSLAUGHTER, NEGLIGENT',
       'THEFT FROM PERSON - ATTEMPT', 'KIDNAPPING - GRAND ATTEMPT',
       'THEFT, COIN MACHINE - ATTEMPT', 'PETTY THEFT - AUTO REPAIR',
       'DOCUMENT WORTHLESS ($200 & UNDER)', 'FALSE IMPRISONMENT',
       'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
       'CHILD PORNOGRAPHY', 'PANDERING',
       'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE', 'CRUELTY TO ANIMALS',
       'COUNTERFEIT', 'DISHONEST EMPLOYEE - GRAND THEFT', 'PROWLER',
       'DOCUMENT WORTHLESS ($200.01 & OVER)',
       'WEAPONS POSSESSION/BOMBING', 'GRAND THEFT / AUTO REPAIR',
       'CONSPIRACY', 'DRUNK ROLL', 'LYNCHING - ATTEMPTED',
       'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)', 'DISRUPT SCHOOL',
       'TILL TAP - PETTY ($950 & UNDER)', 'PICKPOCKET, ATTEMPT',
       'GRAND THEFT / INSURANCE FRAUD',
       'TILL TAP - GRAND THEFT ($950.01 & OVER)',
       'PURSE SNATCHING - ATTEMPT', 'BIKE - ATTEMPTED STOLEN', 'BRIBERY',
       'CHILD ABANDONMENT', 'TELEPHONE PROPERTY - DAMAGE',
       'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
       'BIGAMY', 'FAILURE TO DISPERSE',
       'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)',
       'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
       'BLOCKING DOOR INDUCTION CENTER', 'INCITING A RIOT',
       'DISHONEST EMPLOYEE ATTEMPTED THEFT'], dtype=object)

In [ ]:
crime_category_map = {

    # Fraud
    'THEFT OF IDENTITY': 'Fraud',
    'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)': 'Fraud',
    'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)': 'Fraud',
    'DOCUMENT FORGERY / STOLEN FELONY': 'Fraud',
    'DOCUMENT WORTHLESS ($200 & UNDER)': 'Fraud',
    'DOCUMENT WORTHLESS ($200.01 & OVER)': 'Fraud',
    'CREDIT CARDS, FRAUD USE ($950 & UNDER': 'Fraud',
    'CREDIT CARDS, FRAUD USE ($950.01 & OVER)': 'Fraud',
    'COUNTERFEIT': 'Fraud',
    'BRIBERY': 'Fraud',
    'BUNCO, ATTEMPT': 'Fraud',
    'BUNCO, GRAND THEFT': 'Fraud',
    'BUNCO, PETTY THEFT': 'Fraud',
    'GRAND THEFT / INSURANCE FRAUD': 'Fraud',
    'DISHONEST EMPLOYEE - GRAND THEFT': 'Fraud',
    'DISHONEST EMPLOYEE ATTEMPTED THEFT': 'Fraud',

    # Theft
    'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)': 'Theft',
    'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)': 'Theft',
    'THEFT FROM MOTOR VEHICLE - ATTEMPT': 'Theft',
    'THEFT PLAIN - PETTY ($950 & UNDER)': 'Theft',
    'THEFT PLAIN - ATTEMPT': 'Theft',
    'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD': 'Theft',
    'THEFT, PERSON': 'Theft',
    'THEFT FROM PERSON - ATTEMPT': 'Theft',
    'SHOPLIFTING - PETTY THEFT ($950 & UNDER)': 'Theft',
    'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)': 'Theft',
    'SHOPLIFTING - ATTEMPT': 'Theft',
    'PICKPOCKET': 'Theft',
    'PICKPOCKET, ATTEMPT': 'Theft',
    'PURSE SNATCHING': 'Theft',
    'PURSE SNATCHING - ATTEMPT': 'Theft',
    'DRUNK ROLL': 'Theft',
    'DRUNK ROLL - ATTEMPT': 'Theft',
    'TILL TAP - PETTY ($950 & UNDER)': 'Theft',
    'TILL TAP - GRAND THEFT ($950.01 & OVER)': 'Theft',
    'THEFT, COIN MACHINE - PETTY ($950 & UNDER)': 'Theft',
    'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)': 'Theft',
    'THEFT, COIN MACHINE - ATTEMPT': 'Theft',
    'PETTY THEFT - AUTO REPAIR': 'Theft',
    'GRAND THEFT / AUTO REPAIR': 'Theft',
    'VEHICLE - STOLEN': 'Theft',
    'VEHICLE - ATTEMPT STOLEN': 'Theft',
    'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)': 'Theft',
    'BIKE - STOLEN': 'Theft',
    'BIKE - ATTEMPTED STOLEN': 'Theft',
    'BOAT - STOLEN': 'Theft',
    'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER': 'Theft',
    'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01': 'Theft',
    'DISHONEST EMPLOYEE - PETTY THEFT': 'Theft',
    'DRIVING WITHOUT OWNER CONSENT (DWOC)': 'Theft',

    # Robbery
    'ROBBERY': 'Robbery',
    'ATTEMPTED ROBBERY': 'Robbery',
    'EXTORTION': 'Robbery',

    # Burglary
    'BURGLARY': 'Burglary',
    'BURGLARY FROM VEHICLE': 'Burglary',
    'BURGLARY, ATTEMPTED': 'Burglary',
    'BURGLARY FROM VEHICLE, ATTEMPTED': 'Burglary',

    # Assault & Battery (Simple)
    'BATTERY - SIMPLE ASSAULT': 'Assault & Battery',
    'OTHER ASSAULT': 'Assault & Battery',
    'FALSE IMPRISONMENT': 'Assault & Battery',

    # Aggravated Assault
    'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT': 'Aggravated Assault',
    'INTIMATE PARTNER - AGGRAVATED ASSAULT': 'Aggravated Assault',
    'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER': 'Aggravated Assault',
    'DISCHARGE FIREARMS/SHOTS FIRED': 'Aggravated Assault',
    'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT': 'Aggravated Assault',
    'SHOTS FIRED AT INHABITED DWELLING': 'Aggravated Assault',
    'BRANDISH WEAPON': 'Aggravated Assault',
    'THROWING OBJECT AT MOVING VEHICLE': 'Aggravated Assault',
    'LYNCHING': 'Aggravated Assault',
    'LYNCHING - ATTEMPTED': 'Aggravated Assault',
    'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT': 'Aggravated Assault',
    'BATTERY ON A FIREFIGHTER': 'Aggravated Assault',

    # Kidnapping
    'KIDNAPPING': 'Kidnapping',
    'KIDNAPPING - GRAND ATTEMPT': 'Kidnapping',
    'CHILD STEALING': 'Kidnapping',

    # Domestic Violence
    'INTIMATE PARTNER - SIMPLE ASSAULT': 'Domestic Violence',
    'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT': 'Domestic Violence',
    'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)': 'Domestic Violence',
    'CHILD NEGLECT (SEE 300 W.I.C.)': 'Domestic Violence',
    'CHILD ANNOYING (17YRS & UNDER)': 'Domestic Violence',
    'CHILD ABANDONMENT': 'Domestic Violence',
    'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)': 'Domestic Violence',

    # Sex Crimes
    'BATTERY WITH SEXUAL CONTACT': 'Sex Crimes',
    'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD': 'Sex Crimes',
    'LEWD/LASCIVIOUS ACTS WITH CHILD': 'Sex Crimes',
    'RAPE, ATTEMPTED': 'Sex Crimes',
    'RAPE, FORCIBLE': 'Sex Crimes',
    'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH': 'Sex Crimes',
    'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ': 'Sex Crimes',
    'ORAL COPULATION': 'Sex Crimes',
    'SEXUAL PENETRATION W/FOREIGN OBJECT': 'Sex Crimes',
    'LEWD CONDUCT': 'Sex Crimes',
    'INDECENT EXPOSURE': 'Sex Crimes',
    'PEEPING TOM': 'Sex Crimes',
    'CHILD PORNOGRAPHY': 'Sex Crimes',
    'PANDERING': 'Sex Crimes',
    'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM': 'Sex Crimes',
    'PIMPING': 'Sex Crimes',
    'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE': 'Sex Crimes',

    # Human Trafficking
    'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE': 'Human Trafficking',
    'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS': 'Human Trafficking',

    # Vandalism
    'VANDALISM - MISDEAMEANOR ($399 OR UNDER)': 'Vandalism',
    'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)': 'Vandalism',
    'ARSON': 'Vandalism',

    # Public Order & Legal
    'CRIMINAL THREATS - NO WEAPON DISPLAYED': 'Public Order & Legal',
    'VIOLATION OF COURT ORDER': 'Public Order & Legal',
    'VIOLATION OF RESTRAINING ORDER': 'Public Order & Legal',
    'VIOLATION OF TEMPORARY RESTRAINING ORDER': 'Public Order & Legal',
    'FIREARMS RESTRAINING ORDER (FIREARMS RO)': 'Public Order & Legal',
    'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)': 'Public Order & Legal',
    'CONTEMPT OF COURT': 'Public Order & Legal',
    'RESISTING ARREST': 'Public Order & Legal',
    'TRESPASSING': 'Public Order & Legal',
    'FAILURE TO YIELD': 'Public Order & Legal',
    'FAILURE TO DISPERSE': 'Public Order & Legal',
    'CONTRIBUTING': 'Public Order & Legal',
    'OTHER MISCELLANEOUS CRIME': 'Public Order & Legal',
    'BATTERY POLICE (SIMPLE)': 'Public Order & Legal',
    'DISTURBING THE PEACE': 'Public Order & Legal',
    'UNAUTHORIZED COMPUTER ACCESS': 'Public Order & Legal',
    'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)': 'Public Order & Legal',
    'RECKLESS DRIVING': 'Public Order & Legal',
    'THREATENING PHONE CALLS/LETTERS': 'Public Order & Legal',
    'BOMB SCARE': 'Public Order & Legal',
    'STALKING': 'Public Order & Legal',
    'FALSE POLICE REPORT': 'Public Order & Legal',
    'ILLEGAL DUMPING': 'Public Order & Legal',
    'DRUGS, TO A MINOR': 'Public Order & Legal',
    'CRUELTY TO ANIMALS': 'Public Order & Legal',
    'PROWLER': 'Public Order & Legal',
    'WEAPONS POSSESSION/BOMBING': 'Public Order & Legal',
    'CONSPIRACY': 'Public Order & Legal',
    'DISRUPT SCHOOL': 'Public Order & Legal',
    'TELEPHONE PROPERTY - DAMAGE': 'Public Order & Legal',
    'BIGAMY': 'Public Order & Legal',
    'BLOCKING DOOR INDUCTION CENTER': 'Public Order & Legal',
    'INCITING A RIOT': 'Public Order & Legal',
    'TRAIN WRECKING': 'Public Order & Legal',

    # Criminal Homicide
    'CRIMINAL HOMICIDE': 'Criminal Homicide',
    'MANSLAUGHTER, NEGLIGENT': 'Criminal Homicide'
}

In [ ]:
crimes_df["crime_type_category"] = crimes_df["crm_cd_desc"].map(crime_category_map)

In [ ]:
crimes_df["crime_type_category"].value_counts()

crime_type_category
Theft                   280157
Burglary                111700
Aggravated Assault       82354
Vandalism                78529
Assault & Battery        73741
Fraud                    71516
Public Order & Legal     66647
Domestic Violence        50819
Robbery                  36207
Sex Crimes               22280
Criminal Homicide         1482
Kidnapping                1373
Human Trafficking          517
Name: count, dtype: int64

In [ ]:
len(crime_category_map)

140

In [ ]:
crimes_df["crime_type_category"].value_counts()

crime_type_category
Theft                   280157
Burglary                111700
Aggravated Assault       82354
Vandalism                78529
Assault & Battery        73741
Fraud                    71516
Public Order & Legal     66647
Domestic Violence        50819
Robbery                  36207
Sex Crimes               22280
Criminal Homicide         1482
Kidnapping                1373
Human Trafficking          517
Name: count, dtype: int64

### Premis Desc variable

In [ ]:
crimes_df['premis_desc'].nunique()

306

In [ ]:
premis_category_map = {

    # Residential
    'SINGLE FAMILY DWELLING': 'Residential',
    'MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)': 'Residential',
    'CONDOMINIUM/TOWNHOUSE': 'Residential',
    'OTHER RESIDENCE': 'Residential',
    'PROJECT/TENEMENT/PUBLIC HOUSING': 'Residential',
    'PORCH, RESIDENTIAL': 'Residential',
    'GARAGE/CARPORT': 'Residential',
    'DRIVEWAY': 'Residential',
    'YARD (RESIDENTIAL/BUSINESS)': 'Residential',
    'PATIO*': 'Residential',
    'MISSIONS/SHELTERS': 'Residential',
    'SHORT-TERM VACATION RENTAL': 'Residential',
    "MOBILE HOME/TRAILERS/CONSTRUCTION TRAILERS/RV'S/MOTORHOME": 'Residential',
    'APARTMENT/CONDO COMMON LAUNDRY ROOM': 'Residential',
    'BALCONY*': 'Residential',
    'GROUP HOME': 'Residential',
    'TRANSITIONAL HOUSING/HALFWAY HOUSE': 'Residential',
    'FOSTER HOME BOYS OR GIRLS*': 'Residential',
    'HIGH-RISE BUILDING': 'Residential',

    # Outdoor / Public Space
    'STREET': 'Outdoor / Public Space',
    'SIDEWALK': 'Outdoor / Public Space',
    'ALLEY': 'Outdoor / Public Space',
    'PARK/PLAYGROUND': 'Outdoor / Public Space',
    'OTHER/OUTSIDE': 'Outdoor / Public Space',
    'DAM/RESERVOIR': 'Outdoor / Public Space',
    'BEACH': 'Outdoor / Public Space',
    'SKATEBOARD FACILITY/SKATEBOARD PARK*': 'Outdoor / Public Space',
    'TRASH CAN/TRASH DUMPSTER': 'Outdoor / Public Space',
    'TRANSIENT ENCAMPMENT': 'Outdoor / Public Space',
    'ELEVATOR': 'Outdoor / Public Space',
    'MAIL BOX': 'Outdoor / Public Space',
    'VACANT LOT': 'Outdoor / Public Space',
    'UNDERPASS/BRIDGE*': 'Outdoor / Public Space',
    'CEMETARY*': 'Outdoor / Public Space',
    'PUBLIC RESTROOM(INDOORS-INSIDE)': 'Outdoor / Public Space',
    'PUBLIC RESTROOM(INDOORS-INSIDE)': 'Outdoor / Public Space',
    'RIVER BED*': 'Outdoor / Public Space',
    'PUBLIC RESTROOM/OUTSIDE*': 'Outdoor / Public Space',
    'PEDESTRIAN OVERCROSSING': 'Outdoor / Public Space',
    'MUSCLE BEACH': 'Outdoor / Public Space',
    'TUNNEL': 'Outdoor / Public Space',
    'ABATEMENT LOCATION': 'Outdoor / Public Space',
    'CULTURAL SIGNIFICANCE/MONUMENT': 'Outdoor / Public Space',
    'ESCALATOR*': 'Outdoor / Public Space',
    'GOLF COURSE*': 'Outdoor / Public Space',
    'BASKETBALL COURTS': 'Outdoor / Public Space',
    'HANDBALL COURTS': 'Outdoor / Public Space',
    'SKATING RINK*': 'Outdoor / Public Space',
    'POOL-PUBLIC/OUTDOOR OR INDOOR*': 'Outdoor / Public Space',

    # Parking / Vehicle
    'PARKING LOT': 'Parking / Vehicle',
    'PARKING UNDERGROUND/BUILDING': 'Parking / Vehicle',
    'VEHICLE, PASSENGER/TRUCK': 'Parking / Vehicle',
    'TRUCK, COMMERICAL': 'Parking / Vehicle',
    'VALET': 'Parking / Vehicle',

    # Commercial / Retail
    'OTHER BUSINESS': 'Commercial / Retail',
    'RESTAURANT/FAST FOOD': 'Commercial / Retail',
    'MARKET': 'Commercial / Retail',
    'DEPARTMENT STORE': 'Commercial / Retail',
    'CLOTHING STORE': 'Commercial / Retail',
    'CELL PHONE STORE': 'Commercial / Retail',
    'LIQUOR STORE': 'Commercial / Retail',
    'BEAUTY SUPPLY STORE': 'Commercial / Retail',
    'OTHER STORE': 'Commercial / Retail',
    'SHOPPING MALL (COMMON AREA)': 'Commercial / Retail',
    'GAS STATION': 'Commercial / Retail',
    'LAUNDROMAT': 'Commercial / Retail',
    'AUTO REPAIR SHOP': 'Commercial / Retail',
    'DRIVE THRU*': 'Commercial / Retail',
    'DRUG STORE': 'Commercial / Retail',
    'MINI-MART': 'Commercial / Retail',
    'PET STORE': 'Commercial / Retail',
    'BANK': 'Commercial / Retail',
    'DISCOUNT STORE (99 CENT,DOLLAR,ETC.': 'Commercial / Retail',
    'ELECTRONICS STORE (IE:RADIO SHACK, ETC.)': 'Commercial / Retail',
    "DIY CENTER (LOWE'S,HOME DEPOT,OSH,CONTRACTORS WAREHOUSE)": 'Commercial / Retail',
    'OFFICE BUILDING/OFFICE': 'Commercial / Retail',
    'DELIVERY SERVICE (FED EX, UPS, COURIERS,COURIER SERVICE)*': 'Commercial / Retail',
    'CLEANER/LAUNDROMAT': 'Commercial / Retail',
    "COFFEE SHOP (STARBUCKS, COFFEE BEAN, PEET'S, ETC.)": 'Commercial / Retail',
    'AUTO DEALERSHIP (CHEVY, FORD, BMW, MERCEDES, ETC.)': 'Commercial / Retail',
    'CHECK CASHING*': 'Commercial / Retail',
    'CAR WASH': 'Commercial / Retail',
    'MEDICAL MARIJUANA FACILITIES/BUSINESSES': 'Commercial / Retail',
    'NAIL SALON': 'Commercial / Retail',
    'BEAUTY/BARBER SHOP': 'Commercial / Retail',
    'AUTOMATED TELLER MACHINE (ATM)': 'Commercial / Retail',
    'AUTO SALES LOT': 'Commercial / Retail',
    'PHARMACY INSIDE STORE OR SUPERMARKET*': 'Commercial / Retail',
    'JEWELRY STORE': 'Commercial / Retail',
    'AUTO SUPPLY STORE*': 'Commercial / Retail',
    'MEMBERSHIP STORE (COSTCO,SAMS CLUB)*': 'Commercial / Retail',
    'FINANCE COMPANY': 'Commercial / Retail',
    'TOBACCO SHOP': 'Commercial / Retail',
    'FURNITURE STORE': 'Commercial / Retail',
    'GUN/SPORTING GOODS': 'Commercial / Retail',
    'SWAP MEET': 'Commercial / Retail',
    'HARDWARE/BUILDING SUPPLY': 'Commercial / Retail',
    'SAVINGS & LOAN': 'Commercial / Retail',
    'CREDIT UNION': 'Commercial / Retail',
    'NURSERY/FLOWER SHOP': 'Commercial / Retail',
    'BOOK STORE': 'Commercial / Retail',
    'COMPUTER SERVICES/REPAIRS/SALES': 'Commercial / Retail',
    'TV/RADIO/APPLIANCE': 'Commercial / Retail',
    'BANKING INSIDE MARKET-STORE *': 'Commercial / Retail',
    'RECORD-CD MUSIC/COMPUTER GAME STORE': 'Commercial / Retail',
    'TATTOO PARLOR*': 'Commercial / Retail',
    'DRIVE THRU BANKING (WINDOW)*': 'Commercial / Retail',
    'CATERING/ICE CREAM TRUCK': 'Commercial / Retail',
    'PAWN SHOP': 'Commercial / Retail',
    'THE BEVERLY CONNECTION': 'Commercial / Retail',
    'THE BEVERLY CENTER': 'Commercial / Retail',
    'BANK DROP BOX/MONEY DROP-OUTSIDE OF BANK*': 'Commercial / Retail',
    'VIDEO RENTAL STORE': 'Commercial / Retail',
    'SURPLUS SURVIVAL STORE': 'Commercial / Retail',

    # Education
    'HIGH SCHOOL': 'Education',
    'JUNIOR HIGH SCHOOL': 'Education',
    'TRADE SCHOOL (MEDICAL-TECHNICAL-BUSINESS)*': 'Education',
    'SPECIALTY SCHOOL/OTHER': 'Education',
    'ELEMENTARY SCHOOL': 'Education',
    'COLLEGE/JUNIOR COLLEGE/UNIVERSITY': 'Education',
    'BUS, SCHOOL, CHURCH': 'Education',
    'PRIVATE SCHOOL/PRESCHOOL': 'Education',
    'LIBRARY': 'Education',
    'DAY CARE/CHILDREN*': 'Education',
    'FRAT HOUSE/SORORITY/DORMITORY': 'Education',
    'DAY CARE/ADULTS*': 'Education',
    "SINGLE RESIDENCE OCCUPANCY (SRO'S) LOCATIONS": 'Residential',

    # Healthcare
    'HEALTH SPA/GYM': 'Healthcare',
    'HOSPITAL': 'Healthcare',
    'NURSING/CONVALESCENT/RETIREMENT HOME': 'Healthcare',
    'HOSPICE': 'Healthcare',
    'MEDICAL/DENTAL OFFICES': 'Healthcare',
    'MORTUARY': 'Healthcare',
    'VISION CARE FACILITY*': 'Healthcare',
    'OPTICAL OFFICE INSIDE STORE OR SUPERMARKET*': 'Healthcare',
    'VETERINARIAN/ANIMAL HOSPITAL': 'Healthcare',
    'ABORTION CLINIC/ABORTION FACILITY*': 'Healthcare',
    'METHADONE CLINIC': 'Healthcare',

    # Religious
    'CHURCH/CHAPEL (CHANGED 03-03 FROM CHURCH/TEMPLE)': 'Religious',
    'SYNAGOGUE/TEMPLE': 'Religious',
    'OTHER PLACE OF WORSHIP': 'Religious',
    'MOSQUE*': 'Religious',

    # Transportation
    'MTA - ORANGE LINE - VALLEY COLLEGE': 'Transportation',
    'TRANSPORTATION FACILITY (AIRPORT)': 'Transportation',
    'MTA - ORANGE LINE - NORTH HOLLYWOOD': 'Transportation',
    'MTA - RED LINE - NORTH HOLLYWOOD': 'Transportation',
    'BUS STOP': 'Transportation',
    'MTA BUS': 'Transportation',
    'MTA - PURPLE LINE - WILSHIRE/NORMANDIE': 'Transportation',
    'LA UNION STATION (NOT LINE SPECIFIC)': 'Transportation',
    'GREYHOUND OR INTERSTATE BUS': 'Transportation',
    'TRAIN TRACKS': 'Transportation',
    'MTA - ORANGE LINE - CHATSWORTH': 'Transportation',
    'MTA - EXPO LINE - LATTC/ORTHO INSTITUTE': 'Transportation',
    'MTA - PURPLE LINE - WILSHIRE/WESTERN': 'Transportation',
    'MTA - RED LINE - UNIVERSAL CITY/STUDIO CITY': 'Transportation',
    'MTA - BLUE LINE - WASHINGTON': 'Transportation',
    'MTA - RED LINE - WILSHIRE/VERMONT': 'Transportation',
    'BUS-CHARTER/PRIVATE': 'Transportation',
    'AIRCRAFT': 'Transportation',
    'TAXI': 'Transportation',
    'OTHER RR TRAIN (UNION PAC, SANTE FE ETC': 'Transportation',
    'METROLINK TRAIN': 'Transportation',
    'FREEWAY': 'Transportation',
    'MTA - SILVER LINE - HARBOR FWY': 'Transportation',
    'MTA - GREEN LINE - AVALON': 'Transportation',
    'MTA - BLUE LINE - 103RD/WATTS TOWERS': 'Transportation',
    'MTA - PURPLE LINE - WILSHIRE/VERMONT': 'Transportation',
    'MTA - BLUE LINE - VERNON': 'Transportation',
    'MTA - GREEN LINE - HARBOR FWY': 'Transportation',
    'MTA - EXPO LINE - PALMS': 'Transportation',
    'BUS DEPOT/TERMINAL, OTHER THAN MTA': 'Transportation',
    'MUNICIPAL BUS LINE INCLUDES LADOT/DASH': 'Transportation',
    'BUS STOP/LAYOVER (ALSO QUERY 124)': 'Transportation',
    'MTA - BLUE LINE - GRAND/LATTC': 'Transportation',
    'TRAIN DEPOT/TERMINAL, OTHER THAN MTA': 'Transportation',
    'TERMINAL, OTHER THAN MTA': 'Transportation',
    'MTA - ORANGE LINE - SHERMAN WAY': 'Transportation',
    'MTA - ORANGE LINE - CANOGA': 'Transportation',
    'MTA - ORANGE LINE - NORDHOFF': 'Transportation',
    'MTA - RED LINE - HOLLYWOOD/VINE': 'Transportation',
    'MTA - GREEN LINE - AVIATION/LAX': 'Transportation',
    'MTA - SILVER LINE - ROSECRANS': 'Transportation',
    'MTA - ORANGE LINE - VALLEY COLLEGE': 'Transportation',
    'MTA - BLUE LINE - SAN PEDRO': 'Transportation',
    'MTA - ORANGE LINE - LAUREL CANYON': 'Transportation',
    'MTA - EXPO LINE - PICO': 'Transportation',
    'MTA - EXPO LINE - JEFFERSON/USC': 'Transportation',
    'MTA - EXPO LINE - EXPO PARK/USC': 'Transportation',
    'MTA PROPERTY OR PARKING LOT': 'Transportation',
    'MTA - RED LINE - PERSHING SQUARE': 'Transportation',
    'MTA - ORANGE LINE - PIERCE COLLEGE': 'Transportation',
    'MTA - ORANGE LINE - ROSCOE': 'Transportation',
    'MTA - ORANGE LINE - DE SOTO': 'Transportation',
    'MTA - RED LINE - VERMONT/BEVERLY': 'Transportation',
    'MTA - PURPLE LINE - UNION STATION': 'Transportation',
    'MTA - RED LINE - 7TH AND METRO CENTER': 'Transportation',
    'MTA - EXPO LINE - EXPO/LA BREA': 'Transportation',
    'MTA - EXPO LINE - EXPO/VERMONT': 'Transportation',
    '7TH AND METRO CENTER (NOT LINE SPECIFIC)': 'Transportation',
    'MTA - RED LINE - WESTLAKE/MACARTHUR PARK': 'Transportation',
    'MTA - EXPO LINE - EXPO/WESTERN': 'Transportation',
    'MTA - GOLD LINE - UNION STATION': 'Transportation',
    'MTA - RED LINE - UNION STATION': 'Transportation',
    'AMTRAK TRAIN': 'Transportation',
    'OTHER INTERSTATE, CHARTER BUS': 'Transportation',
    'MTA - PURPLE LINE - CIVIC CENTER/GRAND PARK': 'Transportation',
    'MTA - RED LINE - CIVIC CENTER/GRAND PARK': 'Transportation',
    'MTA - GOLD LINE - HIGHLAND PARK': 'Transportation',
    'MTA - EXPO LINE - FARMDALE': 'Transportation',
    'MTA - RED LINE - VERMONT/SUNSET': 'Transportation',
    'MTA - RED LINE - VERMONT/SANTA MONICA': 'Transportation',
    'MTA - EXPO LINE - EXPO/SEPULVEDA': 'Transportation',
    'MTA - RED LINE - HOLLYWOOD/HIGHLAND': 'Transportation',
    'MTA - SILVER LINE - HARBOR GATEWAY TRANSIT CTR': 'Transportation',
    'MTA - EXPO LINE - 7TH AND METRO CENTER': 'Transportation',
    'MTA - EXPO LINE - EXPO/BUNDY': 'Transportation',
    'MTA - PURPLE LINE - WESTLAKE/MACARTHUR PARK': 'Transportation',
    'MTA - ORANGE LINE - RESEDA': 'Transportation',
    'MTA - ORANGE LINE - TAMPA': 'Transportation',
    'MTA - EXPO LINE - EXPO/CRENSHAW': 'Transportation',
    'MTA - EXPO LINE - LA CIENEGA/JEFFERSON': 'Transportation',
    'MTA - BLUE LINE - PICO': 'Transportation',
    'MTA - BLUE LINE - 7TH AND METRO CENTER': 'Transportation',
    'MTA - RED LINE - HOLLYWOOD/WESTERN': 'Transportation',
    'MTA - GOLD LINE - SOUTHWEST MUSEUM': 'Transportation',
    'MTA - GOLD LINE - SOTO': 'Transportation',
    'MTA - ORANGE LINE - WOODMAN': 'Transportation',
    'MTA - ORANGE LINE - VAN NUYS': 'Transportation',
    'MTA - PURPLE LINE - 7TH AND METRO CENTER': 'Transportation',
    'MTA - GOLD LINE - LINCOLN/CYPRESS': 'Transportation',
    'MTA - GOLD LINE - MARIACHI PLAZA': 'Transportation',
    'MTA - EXPO LINE - WESTWOOD/RANCHO PARK': 'Transportation',
    'MTA - SILVER LINE - SLAUSON': 'Transportation',
    'MTA - ORANGE LINE - BALBOA': 'Transportation',
    'MTA - ORANGE LINE - WOODLEY': 'Transportation',
    'MTA - PURPLE LINE - PERSHING SQUARE': 'Transportation',
    'MTA - GOLD LINE - HERITAGE SQ': 'Transportation',
    'MTA - SILVER LINE - UNION STATION': 'Transportation',
    'MTA - SILVER LINE - 37TH ST/USC': 'Transportation',
    'MTA - GOLD LINE - CHINATOWN': 'Transportation',
    'MTA - GOLD LINE - INDIANA': 'Transportation',
    'MTA - SILVER LINE - DOWNTOWN STREET STOPS': 'Transportation',
    'MTA - SILVER LINE - PACIFIC COAST HWY': 'Transportation',
    'MTA - ORANGE LINE - SEPULVEDA': 'Transportation',
    'MTA - GOLD LINE - LITTLE TOKYO/ARTS DISTRICT': 'Transportation',
    'MTA - GOLD LINE - PICO/ALISO': 'Transportation',
    'TRAM/STREETCAR(BOXLIKE WAG ON RAILS)*': 'Transportation',
    'TRAIN, OTHER THAN MTA (ALSO QUERY 809/810/811)': 'Transportation',
    'MTA - SILVER LINE - LAC/USC MEDICAL CENTER': 'Transportation',
    'MTA - SILVER LINE - MANCHESTER': 'Transportation',
    'HARBOR FRWY STATION (NOT LINE SPECIFIC)': 'Transportation',

    # Government / Institutional
    'GOVERNMENT FACILITY (FEDERAL,STATE, COUNTY & CITY)': 'Government / Institutional',
    'POLICE FACILITY': 'Government / Institutional',
    'FIRE STATION': 'Government / Institutional',
    'POST OFFICE': 'Government / Institutional',
    'DETENTION/JAIL FACILITY': 'Government / Institutional',
    'PAY PHONE': 'Government / Institutional',
    'DEPT OF DEFENSE FACILITY': 'Government / Institutional',

    # Industrial
    'PUBLIC STORAGE': 'Industrial',
    'STORAGE SHED': 'Industrial',
    'ABANDONED BUILDING ABANDONED HOUSE': 'Industrial',
    'WAREHOUSE': 'Industrial',
    'FACTORY': 'Industrial',
    'CONSTRUCTION SITE': 'Industrial',
    'ENERGY PLANT/FACILITY': 'Industrial',
    'TOW YARD*': 'Industrial',
    'TOOL SHED*': 'Industrial',
    'WATER FACILITY': 'Industrial',
    "VEHICLE STORAGE LOT (CARS, TRUCKS, RV'S, BOATS, TRAILERS, ETC.)": 'Industrial',
    'EQUIPMENT RENTAL': 'Industrial',
    'OIL REFINERY': 'Industrial',
    'RECYCLING CENTER': 'Industrial',
    'SLIPS/DOCK/MARINA/BOAT': 'Industrial',
    'MANUFACTURING COMPANY': 'Industrial',
    'TELECOMMUNICATION FACILITY/LOCATION': 'Industrial',
    'GARMENT MANUFACTURER': 'Industrial',
    'SEWAGE FACILITY/PIPE': 'Industrial',
    'CHEMICAL STORAGE/MANUFACTURING PLANT': 'Industrial',

    # Entertainment / Adult
    'BAR/SPORTS BAR (OPEN DAY & NIGHT)': 'Entertainment / Adult',
    "SEX ORIENTED/BOOK STORE/STRIP CLUB/GENTLEMAN'S CLUB": 'Entertainment / Adult',
    'NIGHT CLUB (OPEN EVENINGS ONLY)': 'Entertainment / Adult',
    'ENTERTAINMENT/COMEDY CLUB (OTHER)': 'Entertainment / Adult',
    'MASSAGE PARLOR': 'Entertainment / Adult',
    'BAR/COCKTAIL/NIGHTCLUB': 'Entertainment / Adult',
    'STUDIO (FILM/PHOTOGRAPHIC/MUSIC)': 'Entertainment / Adult',
    'THEATRE/MOVIE': 'Entertainment / Adult',
    'COLISEUM': 'Entertainment / Adult',
    'MASS GATHERING LOCATION': 'Entertainment / Adult',
    'MUSEUM': 'Entertainment / Adult',
    'CONVENTION CENTER': 'Entertainment / Adult',
    'ARCADE,GAME ROOM/VIDEO GAMES (EXAMPLE CHUCKIE CHEESE)*': 'Entertainment / Adult',
    'BOWLING ALLEY*': 'Entertainment / Adult',
    'HORSE RACING/SANTA ANITA PARK*': 'Entertainment / Adult',
    'STAPLES CENTER *': 'Entertainment / Adult',
    'SPORTS VENUE, OTHER': 'Entertainment / Adult',
    'AMUSEMENT PARK*': 'Entertainment / Adult',
    'DODGER STADIUM': 'Entertainment / Adult',
    'HOCKEY RINK/ICE HOCKEY': 'Entertainment / Adult',
    'SPORTS ARENA': 'Entertainment / Adult',

    # Lodging
    'MOTEL': 'Lodging',
    'HOTEL': 'Lodging',

    # Digital / Virtual
    'WEBSITE': 'Digital',
    'CYBERSPACE': 'Digital',

    # Other
    'OTHER PREMISE': 'Other',
    'RETIRED (DUPLICATE) DO NOT USE THIS CODE': 'Other'
}

In [ ]:
crimes_df['premis_category'] = crimes_df['premis_desc'].map(premis_category_map)

In [ ]:
crimes_df['premis_category'].value_counts()

premis_category
Residential                   311060
Outdoor / Public Space        278204
Commercial / Retail           121512
Parking / Vehicle              94182
Transportation                 17109
Industrial                      9689
Education                       9561
Lodging                         7144
Other                           7026
Healthcare                      6301
Entertainment / Adult           6135
Government / Institutional      3685
Digital                         2372
Religious                       1930
Name: count, dtype: int64